[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
pylint = "*"
flask-jwt = "*"
flask-jwt-extended = "*"
flask-cors = "*"
jsonschema = "*"


[requires]

python_version = "3.5"
