<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>


    <div class="hero " style='background-image: url("assets/demo.jpeg");'>
        <div class="hero-text">
            <div class="hero-info">
                <h1>Maria Lovelace</h1>
                <h2>For City Council</h2>
            </div>

            <div class="hero-menu">
                <!-- <a class=" hero-menu-item" href="#">About</a>
                <a class="hero-menu-item" href="#">Bio</a> -->
            </div>
        </div>
    </div>

    <div class="showcase">
        <div class="content card">

            <div class="header-with-buttons">
                <h1> Get Involved </h1>

                <div class="flex-group right">
                    <button class="button primary">Donate</button>
                    <button class="button">Volunteer</button>
                </div>
            </div>


            <p class="pressed-in">Paulette believes that Idaho's future belongs to all of us, and as Idaho's governor, she promises to use her
                leadership skills to depoliticize issues and focus resources into inclusive, common sense policies and legislation
                that work for everyone. A fierce advocate for investing in education and future job markets, Paulette's forward
                focused agenda will help to develop and keep further infrastructure and sustainable job opportunities in
                Idaho, while also preserving and protecting the environment and public lands for future generations to share
                and enjoy. Paulette Jordan is building a movement around the power of one united family that works together
                for peace, prosperity, and justice for all.</p>
        </div>


        <div class="content no-side-pad">
            <div class="colored">
                <h1> On the Issues </h1>
            </div>

            <div class="card">
                <h2>
                    A Livable Wage
                </h2>

                <p>
                    Idaho has the lowest minimum wage in the west, but the highest number of minimum wage jobs. Jobs that take little training,
                    require little education, and are low paying are not sustainable in the long term. Paulette believes
                    in investing in education to help train people for jobs that provide livable wages and opportunity for
                    advancement into leadership positions – this is beneficial both to individuals and the state economy.
                    Paulette will work to promote these opportunities and market them to students to keep jobs and businesses
                    in Idaho.
                </p>

                <h2>
                    Education For Our Future
                </h2>

                <p> As a mother of two sons, Paulette has seen firsthand the shortcomings and successes of Idaho’s educational
                    system. She believes that investing in public education will strengthen Idaho’s economy and struggling
                    rural areas. States with strong school systems attract businesses and industry and provide our students
                    with a more competitive edge in a wider range of career fields.</p>

            </div>

        </div>

    </div>
</body>

</html>