<html>
    <head>
            <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"> 

        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="css/styles.css"/>
    </head>

    <!-- TODO take out this ugly inline style, it's only for testing -->
    <body style="padding: 50px">
        <h1> 1, Titles are </h1>
        <h2> 2, written in </h2>
        <h3> 3, Helvetica! </h3>
        <h4> 4, a sleek, modern font </h4>
        <h5> 5, that became popular </h5>
        <h6> 6, in the 50's</h6>

        <p> Hello, I am <b>a paragraph.</b> I'm written in Merriweather! An open source font 
        designed to look official, super readable, and a little bit like old Americana.</p>
    
        <p> Hello I have a <a href="#">link</a>.</p> 

        <button> hi im a boring button</button>
        <button class="button-primary"> and im an exciting button </button>

        
    </body>
</html>